<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pantomogram</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.sound.min.js"></script>
    <script >
        var test = 1123;
        var teeth_data = {{ js_data|safe }};

    </script>
    {% load static %}
    <script src="{% static 'scripts/sketch.js' %}">
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/gallery">Pantomogram Gallery</a>
                <a class="navbar-brand" href="/gallery/browse">Browse</a>
                <a class="navbar-brand" href="/gallery/add">Add</a>
                {#            <button type="button" class="btn navbar-btn" data-toggle="modal" data-target="#myModal">Add</button>#}
            </div>

        </div>
    </nav>
    <div class="container">
        <div class="row">
            <h2>Details of {{ pantomogram_info.image_name_text }}</h2>
        </div>
        <div class="row">
            <ul class="nav nav-tabs">
                <li><a href="./1">Segmented Image</a></li>
                <li><a href="./2">Input Image</a></li>
                <li><a href="./3">Teeth</a></li>
                <li class="active"><a href="./4">Edit</a></li>
                <li><a href="./5">Process</a></li>

            </ul>
        </div>
        <div class="row">
            <h1>Edit starting points</h1>
            <p>You can drag ends of lines to adjust starting points for watershed algorithm. Press submit to reprocess image.</p>
        </div>
        <div class="row">
            <button class="save btn btn-default btn-margin" id="submit" onclick="post_teeth_data()">Submit</button>
            <button class="save btn btn-default btn-margin" id="reset" onclick="reset()">Reset</button>
            <button class="save btn btn-default btn-margin" id="fullreset" onclick="full_reset()">Full Reset</button>
        </div>


    </div>
    <img id="mainimage" src={{ pantomogram_info.output_image.url }} class="center-block" style="max-width: 100%; min-width : {{ pantomogram_info.output_image.width }}px; min-height : {{ pantomogram_info.output_image.height }}px;"/>
    <form id="teeth_form">
        {% csrf_token %}
    </form>


</body>