{% extends 'imageDisp/base.html' %}

{% block content %}
    <div class="jumbotron text-left">
        <div class="col-md-offset-1">
            <h1>Pantomogram Gallery</h1>
            <p>Praca Inzynierska - Bartosz Hruszka.</p>
        </div>
    </div>
    <div class="container">


        {% if pantomograms_list %}
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Present Teeth <a href="#" data-toggle="tooltip" data-placement="bottom"
                                        title="1 - tooth is present 0 - tooth is absent"><span
                            class="glyphicon glyphicon-info-sign"></span></a></th>
                </tr>
                </thead>
                <tbody>
                {% for pantomogram_info in pantomograms_list %}

                    <tr>
                        <th>
                            <a href="/gallery/{{ pantomogram_info.image_name_text }}/details">
                                <img src={{ pantomogram_info.output_image.url }}  style="height:150px;">
                            </a>
                        </th>
                        <th><a href="/gallery/{{ pantomogram_info.image_name_text }}/details"><span
                            class="glyphicon glyphicon-share-alt"></span>{{ pantomogram_info.image_name_text }} </a></th>
                        <th>
                            <table class="table table-bordered">
                                <thead>
                                <tr class="active">
                                    <th>8</th>
                                    <th>7</th>
                                    <th>6</th>
                                    <th>5</th>

                                    <th>4</th>
                                    <th>3</th>
                                    <th>2</th>
                                    <th>1</th>

                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>

                                    <th>5</th>
                                    <th>6</th>
                                    <th>7</th>
                                    <th>8</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    {% for tooth in pantomogram_info.present_teeth_text|slice:":16" %}
                                        <th>{{ tooth }}</th>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for tooth in pantomogram_info.present_teeth_text|slice:"16:32" %}
                                        <th>{{ tooth }}</th>
                                    {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        </th>
                    </tr>


                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No images in gallery.</p>
        {% endif %}

    </div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}